<div class="grid grid-rows-2 text-base grid-flow-col m-0
md:text-2xl">
    <div>
        <a class="nav-div"
        [routerLink]="['/']" 
        routerLinkActive="router-link-active">
            <span>
                Main page
            </span>
        </a> 
    </div>
    <div *ngIf="!isUserLogged">
        <a class="nav-div"
        [routerLink]="['/login']" 
        routerLinkActive="router-link-active">
            <span>
                Login
            </span>
        </a>
        <a class="nav-div"
        [routerLink]="['/register']" 
        routerLinkActive="router-link-active">
            <span>
                Register
            </span>
        </a>
    </div>
    <div *ngIf="isUserLogged">
        <a class="nav-div"
        [routerLink]="['/profile']" 
        routerLinkActive="router-link-active">
            <span>
                My profile
            </span>
        </a>
    </div>
</div>

<router-outlet></router-outlet>