<div class="grid text-base grid-flow-col m-0
md:text-2xl">
    <div>
        <a class="nav-div"
        [routerLink]="['/']" 
        routerLinkActive="router-link-active">
            <span>
                Main page
            </span>
        </a> 
    </div>
    <ng-container *ngIf="!isUserLogged">
        <a class="nav-div"
        [routerLink]="['/login']" 
        routerLinkActive="router-link-active">
            <span>
                Login
            </span>
        </a>
        <a class="nav-div"
        [routerLink]="['/register']" 
        routerLinkActive="router-link-active">
            <span>
                Register
            </span>
        </a>
    </ng-container>
    <ng-container *ngIf="isUserLogged">
        <span class="text-center">
            Your balance: {{ balance }}$
        </span>
        <a class="nav-div"
        [routerLink]="['/profile']" 
        routerLinkActive="router-link-active">
            <span>
                My profile
            </span>
        </a>
        <button (click)="logout()">
            Logout
        </button>
    </ng-container>
</div>

<router-outlet></router-outlet>