<div>
    <p>
        {{ userData.accountNick }}
    </p>
    <div>
        <ng-container *ngIf="isUserLogged">
            <ng-container *ngIf="isUserFriend">
                <button>
                    Delete friend
                </button>
            </ng-container>
            <ng-container *ngIf="!isUserFriend">
                <ng-container *ngIf="isInvitationReceived">
                    Answer
                </ng-container>
                <ng-container *ngIf="!isInvitationReceived">
                    <ng-container *ngIf="isInvitationSend">
                        <button (click)="cancelInvitation(userData.accountID)">
                            Cancel invitation
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!isInvitationSend">
                        <button (click)="sendInvitation(userData.accountID)">
                            Send invitation
                        </button>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!isUserLogged">
            You need to be logged to add friends
        </ng-container>
    </div>
    <div *ngIf="isUserLogged">
        <span *ngIf="!isUserFriend">
            You need to be friends to compare your loans
        </span>
        <div *ngIf="isUserFriend">
            <div class="grid grid-flow-col">
                <button (click)="showsTab='common'"
                [ngClass]="{'active-tab-style': showsTab=='common'}"
                class="text-xl">
                    You both like it
                </button>
                <button (click)="showsTab='diffrent'"
                [ngClass]="{'active-tab-style': showsTab=='diffrent'}"
                class="text-xl">
                    Looking for inspiration?
                </button>
            </div>
            <div *ngIf="showsTab=='common'"
            class="grid grid-cols-3 grid-flow-col">
                <ng-container *ngIf="!commonShows.length">
                    <p>
                        You don't have any common loans :(
                    </p>
                </ng-container>
                <ng-container *ngIf="commonShows.length">
                    <div *ngFor="let show of commonShows">
                        <app-show-tile [showData]="show"></app-show-tile>
                    </div>
                </ng-container>
            </div>
            <div *ngIf="showsTab=='diffrent'"
            class="grid grid-cols-3 grid-flow-col">
                <ng-container *ngIf="!diffrentShows.length">
                    <p>
                        You don't have any diffrent loans :(
                    </p>
                </ng-container>
                <ng-container *ngIf="diffrentShows.length">
                    <div *ngFor="let show of diffrentShows">
                        <app-show-tile [showData]="show"></app-show-tile>
                    </div>
                </ng-container> 
            </div>            
        </div>
    </div>
</div>
