<div>
    <p>
        {{ userData.accountNick }}
    </p>
    <div>
        <ng-container *ngIf="isUserLogged">
            <ng-container *ngIf="isUserFriend">
                <button>
                    Delete friend
                </button>
            </ng-container>
            <ng-container *ngIf="!isUserFriend">
                <ng-container *ngIf="isInvitationReceived">
                    Answer
                </ng-container>
                <ng-container *ngIf="!isInvitationReceived">
                    <ng-container *ngIf="isInvitationSend">
                        <button (click)="cancelInvitation(userData.accountID)">
                            Cancel invitation
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!isInvitationSend">
                        <button (click)="sendInvitation(userData.accountID)">
                            Send invitation
                        </button>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!isUserLogged">
            You need to be logged to add friends
        </ng-container>
    </div>
    <div *ngIf="isUserLogged">
        <span *ngIf="!isUserFriend">
            You need to be friends to compare your loans
        </span>
        <div *ngIf="isUserFriend">
            Here's gonna be smth
        </div>
    </div>
</div>
