<div>
    <header>
        Your account
    </header>
    <div>
        <p>
            Name: {{ userData.accountFirstName }}  {{ userData.accountLastName }}
        </p>
        <p>
            Nick: {{ userData.accountNick }}
        </p>
        <p>
            Email: {{ userData.accountEmail }}
        </p>
        <div *ngIf="userData.loans.length">
            <div *ngIf="activeLoans.length">
                <header>
                    Your active loans
                </header>
                <div *ngFor="let loan of activeLoans">
                    <div class="flex items-center justify-center">
                        <figure class="relative max-w-xs cursor-pointer">
                            <button (click)="redirect(createPath('/show/', loan.showID))">
                                <img class="" [src]=loan.showPoster alt="" title="sdafs">
                                <figcaption class="absolute text-lg -mt-10 text-black px-4">
                                    {{ loan.showTitle }}
                                </figcaption>    
                            </button>
                        </figure>
                    </div>
                    Loaned on: {{ createDateFormat(loan.loanStartDate.$date) }}
                    Ends on: {{ createDateFormat(loan.loanEndDate.$date) }}
                </div>
            </div>
            <div *ngIf="!activeLoans.length">
                No active loans
            </div>
            <div *ngIf="earlierLoans.length">
                <header>
                    Your eariler loans
                </header>
                <div *ngFor="let loan of earlierLoans">
                    <div class="flex items-center justify-center">
                        <figure class="relative max-w-xs cursor-pointer">
                            <button (click)="redirect(createPath('/show/', loan.showID))">
                                <img class="" [src]=loan.showPoster alt="" title="sdafs">
                                <figcaption class="absolute text-lg -mt-10 text-black px-4">
                                    {{ loan.showTitle }}
                                </figcaption>    
                            </button>
                        </figure>
                    </div>
                    Loaned on: {{ createDateFormat(loan.loanStartDate.$date) }}
                    Ended on: {{ createDateFormat(loan.loanEndDate.$date) }}
                </div>
            </div>
            <div *ngIf="!earlierLoans.length">
                No earlier loans
            </div>
        </div>
        <div *ngIf="!userData.loans.length">
            You don't have any loans
        </div>
    </div>
</div>
