<div>
    <header>
        Register!
    </header>
    <form>
        <input 
        type="text" 
        placeholder="Pass email"
        [formControl]="userEmail"
        >
        <input 
        type="text" 
        placeholder="Pass firstname"
        [formControl]="userFirstName"
        >
        <input 
        type="text" 
        placeholder="Pass last name"
        [formControl]="userLastName"
        >
        <input 
        type="text" 
        placeholder="Pass nick"
        [formControl]="userNick"
        >
        <input 
        type="password" 
        placeholder="Pass password"
        [formControl]="userPassword"
        >
        <input 
        type="password" 
        placeholder="Repeat password"
        [formControl]="userRepeatedPassword"
        >
        <div>
            <span>
                {{ registerInfo }}
            </span>
            <button *ngIf="registerInfo === 'Registered!'"
            (click)="redirect('login')">
                Login
            </button>
        </div>
        <button *ngIf="registerInfo !== 'Registered!'"
        (click)="registerUser()">
            Register
        </button>
    </form>
</div>
